﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div id="chat">
        <h1> Bienvenue sur le chat ! </h1>
        <ul id="conv">
        </ul>
        <form>
            <input type="text" id="User" placeholder="Votre pseudo"/>
            <input type="text" placeholder="Votre message" id="userEntry"/>
        </form>
    </div>
    <button id="sendButton">Send</button>
    <ul id="Users">

    </ul>
</div>


<script src="~/lib/microsoft/signalr/dist/browser/signalr.js" type="text/javascript"></script>
<script>
    var connection = new signalR.HubConnectionBuilder()
        .configureLogging(signalR.LogLevel.Debug)
        .withUrl("https://localhost:44358/hubs/testHub")
        .build();

    //connection.on("Recevoir", display);
    //connection.on("Confirme", function (info)
    //{
    //    document.write(info);
    //});

    var liste = new Array;
    connection.on("SendMessage", function (pseudo,message,listePseudo)
    {
        var msg = pseudo + " dit " + message;
        var li = document.createElement("li");
        li.textContent = msg;
        document.getElementById("conv").appendChild(li);
        for (i = 0; i < listePseudo.lenght; i++) {
            liste.push(listePseudo[i]);
        }
    });

    document.getElementById("sendButton").disabled = true;

    connection.start()
        .then(function () {
            document.getElementById("sendButton").disabled = false;
        })
        .catch(function (error) { console.log(error); })


    document.getElementById("sendButton").addEventListener("click", function (event) {
        var user = document.getElementById("User").value;
        var message = document.getElementById("userEntry").value;
        connection.invoke("SendMessage", user, message).catch(function (err) {
            return console.error(err.toString());
        });
        document.getElementById("User").value = "";
        document.getElementById("userEntry").value = "";
        event.preventDefault();
    });

    for (i = 0; i < liste.lenght; i++) {
        var ul = document.getElementById("Users");
        var li = document.createElement("li");
        li.textContent = liste[i];
        ul.appendChild(li);
    }

    //function send(message)
    //{
    //    var conversation = new Array;
    //    conversation.push(document.getElementById("userEntry").value);
    //    document.getElementById("userEntry").value = "";
    //    var li;
    //    for (var l = 0; l < conversation.length; l++) {
    //        li = document.createElement("li");
    //        li.innerHTML = conversation[l];
    //        $("#conv").append(li);
            
    //    }
    //    conversation = [];
    //}

    //function display(message) {
    //    alert("==>" + message);
    //    connection.invoke("Confirmation");
    //}


    //function disBonjour() {
    //    if (connection.connectionStarted) {
    //        connection.invoke("HelloWorld", " Hello AgM ! ");
    //    }
    //}
</script>